.links {
    padding: 10px;
    border: 1px solid darkgrey;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    margin-top: 10px;
}

h1, .description {
    width: 50vw;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.description {
  margin-top: 10px;
}

.links a {
  display: block;
}
.blocking {
    display: none;
    margin-left: auto;
    max-width: 300px;
    width: 5ovw;
}

.blocking.show {
    display: block;
}
